﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Odjava.aspx.cs" Inherits="Lab3.Odjava" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label runat="server" ID="lblPoraka"></asp:Label>
    </div>
    </form>
</body>
</html>
